.Desktop {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #008C8A;
}

.Desktop .iconBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 64px;
    height: 90%;
    /*background-color: #226068;*/
    margin-left: 10px; margin-top: 10px;
}

.Desktop .DesktopIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75px; height: 90px;
    margin-top: 10px;
    /*background-color: red;*/
}
.Desktop .DesktopIcon:hover {
    background-color: rgba(31, 32, 36, 0.29);
    margin-left: 10px; margin-right: 10px;

}
.Desktop .DesktopIcon .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-color: green;*/
    width: 100%; height: 100%;
}
.iconName {
    display: flex;
    /*background-color: rgba(0, 128, 0, 0.58);*/
    margin-top: 2px;
    margin-bottom: 2px;
    align-items: center;
    height: 30px; width: 55px;
    text-align: center;
    font-size: 14px;
    color: white;
}