.Settings {
    display: flex;
    flex-direction: column;
    width: 100%; height: 100%;
    /*background: red;*/
}
.Settings .userbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    /*background: red;*/
}
.Settings img {
    width: 100px; height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.Settings .settingsOptions {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto; margin-right: auto;
}