/* Reset default margin and padding */
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* hide scrollbars globally */
}

/* Your main app container */
.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* prevent scrollbars inside the app */
  position: relative; /* for positioning child elements */
}

* {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
}
